.main-continer {
    height: calc(100vh - 242px);
    overflow: auto;
}
#content {
    text-align: center;
    font-size: 18px;
    padding: 16px;
    font-family: sans-serif;
}
/* .divclass {
    height: calc(100vh - 317px);
} */
label 
{
  font-size: 20px;
}
.input {
    width: 200px;
    padding: 13px;
    border-radius: 12px;
    border: 2px solid #cccccc;
}
.update {
   text-align: center;
}
/* for update button */
#updateForm {
    min-width: 10%;
    background-color: #d83b1f;
    color: #fbeeeb;
    padding: 14px;
    border: none;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;  
}